*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "oswald", "monospace", "sans-serif";
}

/* HEADER DISPLAY */

body{
    position: relative;
    min-height: 100%;
}

.navbar{
    background-color: whitesmoke;
    border-bottom: 1px solid;
    height: 60px;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
    position: sticky;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.homebar span{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    display: flex;
    font-weight: normal;
    height: 100%;
    font-size: 35px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.sidebar {
    font-size: 17px;
}

.sidebar ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    max-width: 120px;
}

.sidebar a:hover{
    background-color: rgb(211, 211 ,211);
    border-bottom: 2px solid;
}

.sidebar a:first-child{
    background-color: rgba(0, 255, 0, 0.445);
}

.sidebar a:nth-child(1):hover{
    background-color: rgba(0, 255, 0, 0.596);
}

.sidebar a:last-child:hover{
    background-color: whitesmoke;
    border: none;
}

@media (max-width: 768px) {
    .sidebar a{
        display: none;
        font-size: 0.8rem;
    }
}

/* Dropdown Hamburger */

.dropdown li:first-child{
    padding: 0 15px 0 15px;
}

#edit-profile:hover{
    background-color: rgb(211, 211 ,211);
}

#log-out:hover{
    background-color: rgb(255, 78, 78);
    border-bottom: 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:nth-child(1){
    background-color: whitesmoke;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-bottom: 2px solid;
    }

/* BELOW THE HEADER */

.main-body {
    width: 100%;
}

.welcome-body {
    background: url(https://c4.wallpaperflare.com/wallpaper/981/721/269/abstract-grey-gray-texture-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 50px;
}

.welcome-body a{
    text-decoration: none;
    color: black;
}

.profile-editor-wrapper{
    margin: 0 auto;
    background-color: whitesmoke;
    width: 800px;
    height: 500px;
    padding: 20px;
    border-collapse: collapse;
    border: 10px solid black;
    border-radius: 20px;
}

.add-button{
    display: block;
    margin: 10px 0;
    background-color: #02be02;
    border: 1px solid;
    border-radius: 10px;
    width: 80px;
    padding: 5px;
}

.add-button:hover{
    background-color: rgb(145, 145, 145);
}

.profile-editor-wrapper table{
    border-collapse: collapse;
}

.profile-editor-wrapper table thead tr td{
    border-bottom: 1px solid;
    font-weight: bold;
}

.profile-editor-wrapper table td{
    padding: 10px 0 10px 5px ;
}

.profile-editor-wrapper table tr td:last-of-type{
    width: 120px;
    padding: 0 5px;  
}

.profile-editor-wrapper table{
    width: 100%;
}

.profile-editor-wrapper table tbody tr td{
    border: 1px solid black;
    background-color: white;
}

.profile-editor-wrapper table tr td button{
    font-size: 14px;
    width: 50px;
    border: 1px solid;
    border-radius: 5px;
}

.profile-editor-wrapper table tr td button:hover{
    background-color: rgb(221, 221, 221);
}

.profile-editor-wrapper table tbody tr td button:first-child{
    background-color: #6cc4ff;
}

.profile-editor-wrapper table tbody tr td button:last-child{
    background-color: #ff3737;
}

/* FOOTER */

footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
}

.footer-container{
    padding: 1% 5% 1%;
}

.socialIcons{
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i:hover{
    color: white    ;
    transform: 0.1s;
}

.footer-bottom{
    color: white;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 425px){
    .socialIcons{
        font-size: 2vw;
    }
}

@media(max-height: 550px){
    .welcome-body{
        height: 600px;
    }
}
