*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "oswald", "monospace", "sans-serif";
}

/* HEADER DISPLAY */

body{
    position: relative;
    min-height: 100%;
}

.navbar{
    background-color: whitesmoke;
    border-bottom: 1px solid;
    height: 60px;
    top:0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 60px;
    z-index: 100;
    position: sticky;
}

.navbar a{
    text-decoration: none;
    color: black;
}

.homebar span{
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 40px;
    display: flex;
    font-weight: normal;
    height: 100%;
    font-size: 35px;
    margin-right: 20px;
    justify-content: center;
    align-items: center;
}

.sidebar {
    font-size: 17px;
}

.sidebar ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    max-width: 120px;
}

.sidebar a:hover{
    background-color: rgb(211, 211 ,211);
    border-bottom: 2px solid;
}

.sidebar a:first-child{
    background-color: rgba(0, 255, 0, 0.445);
}

.sidebar a:nth-child(1):hover{
    background-color: rgba(0, 255, 0, 0.596);
}

.sidebar a:last-child:hover{
    background-color: whitesmoke;
    border: none;
}

@media (max-width: 768px) {
    .sidebar a{
        display: none;
        font-size: 0.8rem;
    }
}

/* Dropdown Hamburger */

.dropdown li:first-child{
    padding: 0 15px 0 15px;
}

#edit-profile:hover{
    background-color: rgb(211, 211 ,211);
}

#log-out:hover{
    background-color: rgb(255, 78, 78);
    border-bottom: 1px solid;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a:nth-child(1){
    background-color: whitesmoke;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-bottom: 2px solid;
    }

/* BELOW THE HEADER */

.main-body {
    width: 100%;
}

.welcome-body {
    background: url(https://c4.wallpaperflare.com/wallpaper/981/721/269/abstract-grey-gray-texture-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding: 20px;
}

.welcome-body a{
    text-decoration: none;
    color: black;
}

.profile-container{
    width: 500px;
    height: 650px;
    background-color: whitesmoke;
    margin: 0 auto;
    border: 8px double;
    box-shadow: 2px 2px 20px black;
}

.profile-container h1{
    font-weight: normal;
    font-size: 25px;
    text-align: left;
    color: white;
    background-color: rgba(0, 0, 0, 0.884);
    margin: 0;
    text-align: center;
    border-bottom: 8px double;
}

.profile-content{
    display: flex;
    width: fit-content;
    margin: 0 20px;
    width: 92%;
}

.profile-picture{
    /* background: url(gradpic.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */
    width: 160px;
    height: 180px;
    margin: 20px;
}

.profile-description{
    text-align: center;
    margin: 20px 0 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
}

.profile-description h3{
    font-size: 23px;
}

.personal-details{
    display: flex;
    font-size: 11px;
    padding: 10px;
    height: fit-content;
}

.details{
    width: 50%;
    padding-left: 35px;
}

.details h2:nth-child(1){
    padding-top: 0;
}

.details h2{
    padding: 5px 0;
}

.details p{
    font-size: 13px;
    padding-left: 20px;
}

.education{
    font-size: 11px;
    width: 50%;
}

.profile-education-description{
    padding: 10px;
}

.profile-education-description span{
    text-decoration: underline;
}

@media(max-width: 580px){
    .profile-container{
        width: 80vw;
    }
}

@media(max-height: 200px){
    .profile-content{
        display: flex;
        flex-direction: column;
    }
    .personal-details{
        display: flex;
        flex-direction: column;
    }
}

/* .profile-education h2{
    padding-left: 10px;
}

.profile-education-description{
    padding: 10px;
    font-size: 15px;
}

.profile-education-description span{
    text-decoration: underline;
} */

/* FOOTER */

footer{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
}

.footer-container{
    padding: 1% 5% 1%;
}

.socialIcons{
    font-size: 10px;
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i{
    font-size: 2em;
    color: black;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}

.socialIcons a i:hover{
    color: white    ;
    transform: 0.1s;
}

.footer-bottom{
    color: white;
    text-align: center;
    font-size: 15px;
}

@media (max-width: 425px){
    .socialIcons{
        font-size: 2vw;
    }
    .profile-container{
        height: fit-content;
    }
}

@media(max-height: 750px){
    .welcome-body{
        height: 1800px;
    }
}
